@import "./variables";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 

  .card {
    // background-color: $cardNavBgColor;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    img {
        width: 500px;
        height: 350px;
        object-fit: cover;
        filter: grayscale(0);
        &:hover{
            filter: grayscale(100);
        }
    }
    .title {
        // color: $backgroundColor;
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
    }
    .desc {
        font-size: 1.5rem;
        border: 2px solid red;
        text-align: center;
       p{padding: 0.5rem; }
    }
  }
}
